.carousel-control-prev, 
.carousel-control-next {
    display: block; /* Make controls visible */

}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d63384;
    text-align: center;
}

.text-carousel {
    text-align: center;
    margin-top: 20px;
}

.text-carousel h3 {
    margin: 0;
}
  /**
     * HEADER
     */
  
     .header {
        position: relative;
        padding-block: 15px;
        border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
        margin-bottom: 67px;
      }
    
      .header.active {
        position: relative;
        box-shadow: none;
      }
    
      .header .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
      }
    
      .header-search {
        display: block;
        position: relative;
        width: max-content;
      }
    
      .header-search .input-field {
        border: 1px solid hsla(0, 0%, 0%, 0.1);
        width: 280px;
        padding: 12px 30px;
        border-radius: 6px;
        transition: var(--transition-1);
      }
    
      .header-search .input-field:focus { outline: 1px solid var(--eerie-black); }
    
      .header-search .search-btn {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        font-size: 20px;
        color: var(--eerie-black);
      }
    
      .header-search .search-btn ion-icon { --ionicon-stroke-width: 30px; }
    
      .header .logo { margin-inline: auto; }
    
      .nav-open-btn,
      .header-action-btn:nth-child(2),
      .navbar-top,
      .overlay { display: none; }
    
      .header-actions {
        all: unset;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;
      }
    
      .navbar {
        all: unset;
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        background: var(--white);
      }
    
      .header.active .navbar {
        position: fixed;
        top: 0;
        box-shadow: 0 2px 20px hsla(0, 0%, 0%, 0.1);
      }
    
      .navbar-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
      }
    
      .navbar-list > li:not(:last-child) { border-bottom: none; }
    
      .navbar-link {
        font-size: var(--fs-7);
        font-weight: var(--fw-500);
        padding-block: 20px;
      }
    
      .navbar-link:is(:hover, :focus) { color: var(--middle-blue-green); }
    
    