<!-- <div class="products">
    <h2>Our Products</h2>
    <div *ngIf="products.length === 0">Loading...</div>
    <div *ngFor="let product of products">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <span>{{ product.price }}</span>
    </div>
  </div>
   -->
   <div class="products">
    <h2>Our Products</h2>
    <div *ngFor="let product of products">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <span>{{ product.price }} JD</span>
    </div>
  </div>
  